body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

/* Header */
header {
    background: #111827;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Container */
.container {
    background: white;
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
}

/* Inputs */
input, select {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

/* Buttons */
button {
    background: #2563eb;
    color: white;
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}

/* Task List */
li {
    list-style: none;
    background: #f4f4f4;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

/* Status badges */
.status-pending {
    background: orange;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.status-done {
    background: green;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 12px;
}

/* Priority colors */
.high { color: red; font-weight: bold; }
.medium { color: orange; font-weight: bold; }
.low { color: green; font-weight: bold; }

/* Footer */
footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Stats */
.stats p {
    margin: 5px;
    font-weight: bold;
}